<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:fragment="headofhtml(title)">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, userService-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="*{title}"> </title>
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"
        href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}"
        href="../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/all.min.css}"
        href="../static/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!-- CSS for full calendar -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
  <!-- JS for jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- JS for full calendar -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <!-- German locale for FullCalendar -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
      <script src="../static/js/script.js"
              th:src="@{/js/script.js}"></script>
</head>

</html>