<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <title>Room Details For Admin</title>
</head>
<body>
<div class="page-content-signUpIn d-flex align-items-center">
    <div class="container d-flex justify-content-center">
        <div class="col-20 col-sm-18 col-md-16 col-lg-14 col-xl-12 col-xxl-10">
            <div class="auth-card">

                <a href="adminHome.html"><i class="fa-solid fa-circle-arrow-left arrow-back"></i></a>

                <h3 class="mt-5">Room ID Room Name</h3>

                <button class="btn btn-info my-btn mt-2 mb-2" onclick="togglePopupForAddingNewWorkplace()">Add new
                    Workplace
                </button>

                <hr class="separator">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Workplace ID</th>
                        <th>Workplace Name</th>
                        <th>Description Equipment</th>
                        <th>Status</th>
                        <th>Uptade</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>A</td>
                        <td>
                            <p>
                                Monitor, Tastatur, Headset
                            </p>
                        </td>
                        <td>
                            locked
                        </td>
                        <td class="mr-3">
                            <i class="fa-solid fa-pen-to-square" onclick="togglePopupForEditingWorkplace()"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-trash"></i>
                        </td>
                    </tr>

                    </tbody>
                </table>


                <div class="popup" id="popup-6">
                    <div class="overlay"></div>

                    <div class="content">
                        <div class="close-btn" onclick="togglePopupForEditingWorkplace()">&times;</div>
                        <div class="container">
                            <div class="row">
                                <h5>Workplace ID</h5>
                                <div>
                                    <form action="">
                                        <div>
                                            <label for="editWorkplaceNameID" class="form-control border-0">Workplace
                                                Name</label>
                                            <input type="text" class="form-control" name="editWorkplaceName"
                                                   id="editWorkplaceNameID">
                                        </div>
                                        <div>
                                            <label for="editWorkplceStatusID">workpalce Status</label>
                                            <select name="workplceStatus" id="editWorkplceStatusID"
                                                    class="form-control">
                                                <option value="gesperrt">gesperrt</option>
                                                <option value="nichtGesperrt">nicht gesperrt</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="editEquipmentID" class="form-control border-0">Equipment
                                                Description</label>
                                            <textarea name="EquipmentDescription" id="editEquipmentID" rows="5"
                                                      class="form-control"></textarea>
                                        </div>
                                        <div>
                                            <button type="submit" class="my-btn mt-3 mb-3">submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="popup" id="popup-5">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopupForAddingNewWorkplace()">&times;</div>
                <h5>Add Workplace: </h5>
                <div>
                    <form action="">
                        <div>
                            <label for="NewWorkplaceNameID" class="form-control border-0">Workplace Name</label>
                            <input type="text" class="form-control" name="NewWorkplaceName" id="neWWorkplaceNameID">
                        </div>
                        <div>
                            <label for="workplceStatusID">workpalce Status</label>
                            <select name="workplceStatus" id="workplceStatusID" class="form-control">
                                <option value="gesperrt">gesperrt</option>
                                <option value="nichtGesperrt">nicht gesperrt</option>
                            </select>
                        </div>
                        <div>
                            <label for="EquipmentID" class="form-control border-0">Equipment Description</label>
                            <textarea name="EquipmentDescription" id="EquipmentID" rows="5"
                                      class="form-control"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="my-btn mt-3 mb-3">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>