<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <title>RoomMate Login</title>
</head>
<body>
<div class="page-content-signUpIn d-flex align-items-center">
    <div class="container d-flex justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
            <div class="auth-card">
                <div class="logo-area">
                    <img class="logo" src="/static/img/logo-RoomMate.png" th:src="@{/static/img/logo-RoomMate.png}" alt="logo RoomMate">
                </div>
                <div>
                    <form action="">
                        <div class="mt-4 mb-3">
                            <input type="email" name="email" class="form-control auth-input" placeholder="enter your e-mail address" aria-describedby="emailhelp">
                            <!-- <div id="emailhelp" class="form-text input-info-text mt-2">
                                 Enter your E-mail
                             </div> -->
                        </div>
                        <div class="mb-3 mt-0">
                            <input type="password" name="password" class="form-control auth-input" placeholder="enter your password">
                        </div>
                        <button class="btn auth-btn mt-3 mb-2"> Sign in </button>
                    </form>
                </div>
                <hr class="separator">
                <button class="btn service-btn mt-3 mb-3">
                    <i class="fa-brands fa-google service-icon"></i> login with Google
                </button>
                <button class="btn service-btn mb-2">
                    <i class="fa-brands fa-github service-icon"></i> login with Github
                </button>

                <div>
                    <p class="text mb-0">Reset <a href="resetPassword.html" class="text-link">password?</a></p>
                </div>

                <div>
                    <p class="text mt-0">Create new<a href="createNewAccount.html" class="text-link"> Account</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>