<!doctype html>
<html lang="en">
<head th:replace="~{fragments/globalHeader :: headofhtml(title='User Home')}"></head>

<body>


<div class="page">

    <div class="sidebar">

        <div th:replace="~{fragments/logo :: logo}"></div>

        <div th:replace="~{fragments/sidebarBodyUser :: sidebarBodyUser(user)}"></div>
    </div>

    <div class="content row">
        <h3>Hallo Max!</h3>
    </div>

</div>

<div class="body-content">

    <div class="container mt-3">
        <h4> Edit User Profil</h4>

        <div class="edit-profil">
            <form action="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row m-3">
                                <label for="editFirstNameID">First Name</label>
                                <input type="text" class="auth-input" placeholder="User First Name"
                                       id="editFirstNameID">
                            </div>
                            <div class="row m-3">
                                <label for="SurnameID">Surname</label>
                                <input type="text" class="auth-input" placeholder="User  Surname" id="SurnameID">
                            </div>
                            <div class="row m-3">
                                <label for="editMailID">EMail</label>
                                <input type="email" class="auth-input" placeholder="User Email" id="editMailID">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row m-3">
                                <label for="editOldPasswordID">Old Password</label>
                                <input type="password" class="auth-input" placeholder="Old Password"
                                       id="editOldPasswordID">
                            </div>
                            <div class="row m-3">
                                <label for="editNewPasswordID">New Password</label>
                                <input type="password" class="auth-input" placeholder="New Password"
                                       id="editNewPasswordID">
                            </div>
                            <div class="row m-3">
                                <label for="editConfirmNewPasswordID">New Password</label>
                                <input type="password" class="auth-input" placeholder="Confirm New Password"
                                       id="editConfirmNewPasswordID">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row m-3 col-sm">
                        <button class="edit-profil-btn row auth-btn">
                            Submit
                        </button>
                    </div>
                </div>

            </form>
        </div>


    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>