<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <title>Home</title>
</head>
<body>


<div class="page">

    <div class="sidebar">

        <div class="sidebar-header">
            <div class="sidebar-logo-container">
                <div class="logo-container">
                    <img class="logo-sidebar" src="/static/img/logo-RoomMate.png" th:src="@{/static/img/logo-RoomMate.png}" alt="logo RoomMate"/>
                </div>
            </div>
        </div>

        <div class="sidebar-body">
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <div class="row">
                        <a class="navigation-link" href="userHome.html">
                            <i class="fa-solid fa-house"> </i> Home
                            <div class="col-10">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="navigation-list-item active">
                    <a class="navigation-link" href="UserBooking.html">My Bookings</a>
                </li>
                <li class="navigation-list-item">
                    <div class="row">
                        <a class="navigation-link" href="userEditProfil.html">
                            <i class="m-1 fa-solid fa-user"></i> User
                            <div class="col-10">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="navigation-list-item">
                    <div class="row">
                        <a class="navigation-link" href="login.html">
                            Log out
                            <div class="col-10">
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="content row">
        <h3>Hallo Max!</h3>
    </div>

</div>

<div class="body-content">

    <div class="container mt-3">
        <h4>My Booking</h4>

        <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->


        <div id="datatable"></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Room Name</th>
                <th>Worplace ID</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>A</td>
                <td>29.03.2023</td>
                <td>11:00</td>
                <td>14:00</td>
                <td class><i class="fa-solid fa-pen-to-square" onclick="togglePopupForUpdatingBook()"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="popup" id="popup-3">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopupForUpdatingBook()">&times;</div>
        <h5>Update Booking </h5>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <form action="">
                        <div class="row mt-2 mb-3">
                            <label for="dateID">Date</label>
                            <input type="date" class="auth-input" placeholder="date" name="date"
                                   id="dateID">
                        </div>
                        <div class="row mt-2 mb-3">
                            <label for="startTimeID">Start Time</label>
                            <input type="time" class="auth-input" name="startTime" id="startTimeID">
                        </div>
                        <div class="row mt-2 mb-3">
                            <label for="endTimeID">End Time</label>
                            <input type="time" class="auth-input" name="endTime" id="endTimeID">
                        </div>
                        <button type="submit" class="auth-btn mt-2 mb-3" id="submitBtn">Update</button>
                    </form>
                </div>

                <div class="col-sm-6">
                    <h6>My to update Booking </h6>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Start time</th>
                                <th>End time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>29.03.2023</td>
                                <td>11:00</td>
                                <td>17:00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>